* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: rgba(115, 164, 197, 0.37);
  padding: 20px;
  text-align: center;
  font-style: inherit;
}
.topnav {
  overflow: hidden;
  background-color: rgba(115, 164, 197, 0.37);
}
.topnav button:hover {
  background-color:rgba(44, 99, 209, 0.3);
  color: black;
}

h1{
  color: black;
}

.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.topnav button{
  color: white;
  padding: 10px 20px;
  background-color:rgba(37, 39, 43, 0.25);
  
}

/*Configuracion del boton que despliega un menu*/
.dropdown {
  float: left;
  overflow: hidden;
}

.maletin {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.navbar a:hover, .dropdown:hover .maletin{
  background-color: rgba(216, 21, 21, 0.418);
}

.contenido-maletin {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: white;
  background-color:  rgba(216, 21, 21, 0.418);
}

.dropdown:hover .dropdown-content {
  display: block;
}